body {
    background: #ededed;
  }
  
  .slide img{
    object-fit: cover;
    width: 800px;
    height: 500px;
    
  }
  
  .prev {
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 1;
  }
  
  .next {
    position: absolute;
    top: 50%;
    right: 2%;
    z-index: 1;
  }
  
  .slide:not(.active) {
    display: none;
  }
  
  .b_g{
    background: rgba(0, 0, 0, 0.5) !important ;
    width: 100%;
    
  }

  .thumbnail img{
    width: 200px;
    aspect-ratio:2/1 ;
    object-fit: cover;
  }